<div class="mt-4">
    <h3>Create Course</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name">Course name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="formFileSm" class="form-label">Upload Image</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>